<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EJS File</h1>
    <form method="post">
        <input type="text" name="inp">
        <button type="submit">Submit</button>
    </form>

    <%if(arr.length != 0){%>

    <ol>
        <% for(let i = 0;i<arr.length;i++){ %>

            <li><%=arr[i]%></li>
        
        <%}%>
    </ol>

    <%}else{%>
        <h1>No Data Found</h1>

    <%}%>
</body>
</html>